#modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
.mx-auto.card{:style => "width:400px"}
  %img.card-img-top{:alt => "Card image", :height => '300', :src => "https://www.w3schools.com/bootstrap4/img_avatar1.png"}/
  .card-body
    %h3.card-title
      = "Ник игрока: #{@profile.nickname}"
    %p.card-text
      = "Статистика: "
      %span.count-wins
        = @profile.wins_count
      %span.count-lose
        = @profile.lose_count

    - unless current_user.nickname == @profile.nickname
      .text-center
        = link_to 'Отправить сообщение', dashboard_send_message_path(nickname: @profile.nickname), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'class' => 'btn btn-primary'}

