.edit-profile-form
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    %h2.text-center Профиль
    = render "devise/shared/error_messages", resource: resource
    .form-group
      = f.label :nickname, 'Ник'
      = f.text_field :nickname, autofocus: true, class: 'form-control'
    .form-group
      = f.label :email, 'Почта'
      = f.email_field :email, autofocus: true, class: 'form-control'
    .form-group
      = f.label :stream, 'Twitch канал'
      = f.fields_for :stream, resource.stream do |stream_fields|
        = stream_fields.text_field :link, class: 'form-control'
    .form-group
      = f.label :password, 'Новый пароль'
      = f.password_field :password, autocomplete: "off", class: 'form-control'
    .form-group
      = f.label :password_confirmation, 'Повторите пароль'
      = f.password_field :password_confirmation, class: 'form-control'
    .form-group
      = f.label :current_password, 'Введите текущий пароль'
      = f.password_field :current_password, class: 'form-control'
    .form-group
      = f.submit 'Сохранить', class: 'btn btn-success btn-block'
