.edit-profile-form
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    %h2.text-center Регистрация
    = render "devise/shared/error_messages", resource: resource
    .form-group
      = f.label :nickname, 'Ник'
      = f.text_field :nickname, autofocus: true, class: 'form-control'
    .form-group
      = f.label :email, 'Почта'
      = f.email_field :email, autofocus: true, class: 'form-control'
    .form-group
      = f.label :password, 'Пароль'
      = f.password_field :password, autocomplete: "off", class: 'form-control'
    .form-group
      = f.label :password_confirmation, 'Повторите пароль'
      = f.password_field :password_confirmation, class: 'form-control'
    .form-group
      = f.submit 'Зарегистрироваться', class: 'btn btn-success btn-block'
  %p.text-center
    Уже зарегистрированы?
    = link_to 'Войти', new_session_path(resource_name)
