.row
  / Post Content Column
  .col-lg-8.white.mx-auto
    / Title
    %h1.mt-4.article-title
      = link_to @article.title, article_path(@article)
    / Author
    %hr/
    / Preview Image
    - if @article.image.path
      = image_tag @article.image.card.url, class: 'img img-fluid rounded d-block mx-auto'
    - else
      = image_tag 'http://placehold.it/900x300', class: 'img img-fluid rounded'
    %hr/
    / Post Content
    %p
      = @article.body.html_safe
    %hr/
    %p.text-right.font-weight-bold
      = "Опубликовано #{l(@article.created_at, format: :short)}"