/ Modal
= form_with(url: dashboard_messages_path) do
  = hidden_field_tag 'private_topic[title]', 'Игра'
  = hidden_field_tag 'private_topic[user_names]', "#{@oponent_nickname}, "
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Новое сообщение
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group
          %label{:for => "private_topic_content"}
          = text_area_tag 'private_topic[content]', nil, rows: 7, class: 'new-message form-control'
      .modal-footer
        = submit_tag 'Отправить', class: 'btn btn-success'