.login-form
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    %h2.text-center Восстановление пароля
    = render "devise/shared/error_messages", resource: resource
    .form-group
      = f.label :email, 'Електронная почта'
      = f.email_field :email, autofocus: true, class: 'form-control'
    .form-group
      = f.submit 'Отправить письмо', class: 'btn btn-warning btn-block'
  %p.text-center
    = link_to 'Вход', new_session_path(resource_name)
    = link_to 'Регистрация', new_registration_path(resource_name)
