#modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
.row.ml-2
  .col-2
    %span.tournament-name
      = @tournament.name
  .col-2
    %span.ml-2.tournament-show-status
      = @tournament.status
  .col-3
    %span.ml-2
      %span.font-weight-bold Пароль турнира:
      = " #{@tournament.password}"
  .col-5
    %p.text-right.mr-2.start-at
      = "Начало: #{@tournament.end_registration_date.strftime("%d-%m-%Y / %H:%M")}"
  .col-12.tournament-image
    = image_tag @tournament.avatar.tournament_show.url
  - if @tournament.groups.empty?
    .col-4.mt-3
      %table.table
        %thead.thead-dark
          %tr
            %th{:scope => "col"} #
            %th{:scope => "col"} Cписок участников
        %tbody
          - @tournament.players.each do |player|
            %tr
              %th{:scope => "row"}
                = @tournament.players.index(player) + 1
              %td
                = player.nickname
  - else
    .col-12.mt-3
      %select{:onchange => "this.options[this.selectedIndex].value  (window.location = this.options[this.selectedIndex].value);"}
        %option{:value => ""}
          = "Выбрать группу..."
        - @another_groups.each do |label|
          %option{:value => dashboard_tournament_path(@tournament, group: label)}
            = "Группа #{label}"
    .col-6.mt-3
      %table.table
        %thead.thead-dark
          %tr
            %th{:scope => "col"} #
            %th{:scope => "col"}
              = "Группа #{@group.label}"
            %th{:scope => "col"} Матчи
            %th{:scope => "col"} Выиграл
            %th{:scope => "col"} Проиграл
            %th{:scope => "col"} Очки
        %tbody
          - @group.sorted_players.each_with_index do |player, index|
            - all_matches = @group.matches.submitted_matches.select { |m| m.players_include?(player.id) }.size
            - won_matches = @group.matches.submitted_matches.where(winner_id: player.id).size
            %tr{class: "#{'font-weight-bold' if player.id == current_user.id}"}
              %th{:scope => "row"}
                = index + 1
              %td
                = player.nickname
              %td
                = all_matches
              %td
                = won_matches
              %td
                = (all_matches - won_matches)
              %td
                = won_matches

    .col-6.mt-3
      %h3.card.card.body.text-center.mb-0.py-2
        = "Матчи группы #{@group.label}"
      %table.table
        %tbody
          - @group.matches.each do |match|
            %tr.mx-auto
              %td{class: "text-center #{'bg-success' if match.winner_id == match.players.first.id}"}
                - if match.players.first.id != current_user.id && match.players_include?(current_user.id) && match.winner_id.nil?
                  = link_to dashboard_send_message_path(nickname: match.versus_user(current_user.id).nickname),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do
                    %i.fa.fa-pencil-square-o
                = link_to match.players.first.nickname, profile_path(slug: match.players.first.nickname), { :target => '_blank' }
              %td.text-center
                - if match.winner_id == match.players.first.id
                  = "1 : "
                - else
                  = "0 : "
                - if match.winner_id == match.players.last.id
                  = 1
                - else
                  = 0
              %td{class: "text-center #{'bg-success' if match.winner_id == match.players.last.id}"}
                - if match.players.last.id != current_user.id && match.players_include?(current_user.id) && match.winner_id.nil?
                  = link_to dashboard_send_message_path(nickname: match.versus_user(current_user.id).nickname),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do
                    %i.fa.fa-pencil-square-o
                = link_to match.players.last.nickname, profile_path(slug: match.players.last.nickname), { :target => '_blank' }
              - if match.players_include?(current_user.id) && match.winner_id.nil? && !match.sended?
                %td.text-right.pr-0
                  = link_to 'Внести результат', dashboard_submit_match_path(match_id: match.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'class' => 'btn btn-warning'}
    - if @group.sended_matches(current_user.id).any?
      .col-6.mt-3.mb-4
        %h3.card.card.body.text-center.mb-0.py-2
          = "Неподтвержденные результаты"
        %table.table
          %tbody
            - @group.sended_matches(current_user.id).each do |match|
              %tr.mx-auto
                %td
                  = link_to current_user.nickname, profile_path(slug: current_user.nickname), { :target => '_blank' }
                %td.text-center
                  - if match.submissions.last.win
                    = "0 : 1"
                  - else
                    = "1 : 0"
                %td{class: 'text-right'}
                  = link_to match.versus_user(current_user.id).nickname, profile_path(slug: match.versus_user(current_user).nickname), { :target => '_blank' }
                %td.text-right.pr-0
                  = link_to 'Confirm', dashboard_submission_confirm_path(match.submissions.last), class: 'btn btn-success', data: {confirm: "Are you sure?"}, method: :put
                %td.text-right.pr-0
                  = link_to 'Decline', dashboard_submission_decline_path(match.submissions.last), class: 'btn btn-danger', data: {confirm: "Are you sure?"}, method: :put