.row
  - @tournaments.each do |tournament|
    .col-3.mb-3
      = link_to tournament_path(tournament), class: 'custom-card' do
        .card.tournament-card
          - if tournament.avatar.path
            = image_tag tournament.avatar.card.url
          - else
            = image_tag '/rsz_default-tournament.png'
          .card-body.tournament-body
            .category
              = tournament.category
            %span.tournament-name
              = tournament.name
            .row.mt-4
              .col-4
                .tournament-status
                  %div{ class:[ (:status_live if tournament.status == 'Live'), (:status_scheduled if tournament.status == 'Scheduled'), (:status_finished if tournament.status == 'Finished') ] }
                    = tournament.status
              .col-8
                %p.text-right.prize
                  = "$#{tournament.prize_fund}"
.row
  .col-2.mx-auto
    = will_paginate @tournaments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
