.row.ml-2
  .col-2
    %span.tournament-name
      = @tournament.name
  .col-2
    %span.ml-2.tournament-show-status
      = @tournament.status
  .col-8
    %p.text-right.mr-2.start-at
      = "Начало: #{@tournament.end_registration_date.strftime("%d-%m-%Y / %H:%M")}"
  .col-12.tournament-image
    = image_tag @tournament.avatar.tournament_show.url
  .col-8.mt-3
    %h4 Информация о турнире:
    %ul
      %li
        Максимальное количество участников:
        %strong
          - if @tournament.max_players
            = @tournament.max_players
          - else
            = 'неограниченно'
      %li
        Призовой фонд:
        %strong
          = "$#{@tournament.prize_fund}"
      %li
        %strong
          = @tournament.next_stage_length || 8
        лучших игроков попадают в финальную стадию турнира
    - if @tournament.rules
      %h4 Правила:
      %p
        = @tournament.rules.html_safe

  - if @tournament.status == 'Scheduled'
    .col-4.mt-3
      - if @tournament.max_players
        %h4.text-right
          Свободных мест:
          = @tournament.max_players - @tournament.players.size
      - if current_user && !@tournament.players.include?(current_user) && (@tournament.max_players || 99999) > @tournament.players.size
        .text-right
          = button_to "Зарегистрироваться", tournament_register_player_path(@tournament), method: :put, class: 'btn btn-success btn-lg', data: { confirm: "Are you sure?" }