.row
  - @streams.each_with_index do |stream, index|
    .col-4.mb-3
      .card
        .card-body
          Cтрим игрока
          = link_to stream.user.nickname, profile_path(slug: stream.user.nickname), { :target => '_blank' }
        %div{id: "stream#{index}"}
        :javascript
          var index = #{index};
          var div = "stream" + index;
          var channel = "#{stream.link.split('/').last}";
          new Twitch.Embed(div, {
            width: 347,
            height: 400,
            channel: channel,
            chat: 'mobile'
          });
