- if notice
  .alert.alert-info
    %a.close{ "data-dismiss" => "alert",  "href" => "#" } x
    %ul.mb-0
      %li
        = notice
- if alert
  .alert.alert-warning
    %a.close{ "data-dismiss" => "alert",  "href" => "#" } x
    %ul.mb-0
      %li
        = alert
