/ Modal
.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %h5#exampleModalLabel.modal-title Внести результат в таблицу
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
    .modal-body
      .form-group
        .text-center
          %span{class: "#{'font-weight-bold' if @match.players.first.id == current_user.id }"}
            = @match.players.first.nickname
          = ' VS '
          %span{class: "#{'font-weight-bold' if @match.players.last.id == current_user.id }"}
            = @match.players.last.nickname
          .mt-3
            = form_for(@match.submissions.new, url: dashboard_submissions_path, method: "post") do |f|
              = f.hidden_field :match_id
              = f.radio_button :win, 'true', :required => 'required'
              = f.label :win_true, 'Выигрыш'
              = f.radio_button :win, 'false', :required => 'required'
              = f.label :win_true, 'Проигрыш'
              .mt-3
                .file-field
                  .btn.btn-primary.btn-sm.float-left
                    %span Скрин результата (не обязательно)
                    = f.file_field :proof, :placeholder => 'Скрин результата (не обязательно)'
                  .modal-footer
                    .mt-5
                      = f.submit 'Отправить', class: 'btn btn-success'
