.row
  / Post Content Column
  .col-lg-5.white.mx-auto
    / Title
    %h3.mt-4.text-center Контакты для связи:
    / Author
    %hr/
    %ul.container.details
      %li
        = image_tag "https://img.icons8.com/ios/2x/secured-letter-filled.png", class: 'contacts-icon-email'
        %a.ml-2{:href => "mailto:lebedevmaxim11@gmail.com"} lebedevmaxim11@gmail.com
      %li
        = image_tag 'https://img.icons8.com/color/2x/telegram-app.png', class: 'contacts-icon-telegram'
        %a.ml-1{:href => "tg://resolve?domain=swan4"} swan4
