.row
  / Post Content Column
  - if @article
    .col-lg-8.white.mx-auto
      / Title
      %h1.mt-4.article-title
        = link_to @article.title, article_path(@article)
      / Author
      %hr/
      / Preview Image
      - if @article.image.path
        = image_tag @article.image.card.url, class: 'img img-fluid rounded d-block mx-auto'
      - else
        = image_tag 'http://placehold.it/900x300', class: 'img img-fluid rounded'
      %hr/
      / Post Content
      %p
        = @article.body.html_safe
      %hr/
      %p.text-right.font-weight-bold
        = "Опубликовано #{l(@article.created_at, format: :short)}"
  / Sidebar Widgets Column
  .col-md-4
    / Search Widget
    .card.mb-4
      %h5.card-header Search
      .card-body
        .input-group
          %input.form-control{:placeholder => "Search for...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-secondary{:type => "button"} Go!
    / Side Widget
    .card.my-4
      %h5.card-header Side Widget
      .card-body
        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
