.login-form
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %h2.text-center Вход
    .form-group
      = f.label :email, 'Почта'
      = f.email_field :email, autofocus: true, class: 'form-control'
    .form-group
      = f.label :password, 'Пароль'
      = f.password_field :password, autocomplete: "off", class: 'form-control'
    .form-group
      = f.submit 'Войти', class: 'btn btn-primary btn-block'
    .clearfix
      %label.pull-left.checkbox-inline
        = f.check_box :remember_me
        Запомнить меня
      = link_to 'Забыли пароль?', new_password_path(resource_name), class: 'pull-right'
  %p.text-center
    = link_to 'Создать аккаунт', new_registration_path(resource_name)
