.login-form {
  width: 340px;
  margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}

body {
  background-color: #f0f1f5;
  font-family: sans-serif;
  padding-top: 90px;
  margin-bottom: 40px;
}

nav li a {
  font-weight: bold;
  color: white;
}

.white {
  background-color: white;
}

.tournament-card {
  width: 264px;
  height: 283px;
}

.category {
  color: #e02d2d;
}

.tournament-body {
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 10px;
}

.tournament-name {
  color: #464344;
  font-weight: 700;
}

.prize {
  color: #838383;
}

.status_live {
  display: inline-block;
  padding: 2px 5px;
  color: #e01b1b;
  border: 1px solid #e01b1b;
}

.status_scheduled {
  display: inline-block;
  padding: 2px 5px;
  color: green;
  border: 1px solid green;
}

.status_finished {
  display: inline-block;
  padding: 2px 5px;
  color: #aeaeae;
  border: 1px solid #aeaeae;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

a.custom-card:hover .tournament-name {
  color: #e02d2d;
}

.active-nav {
  border-bottom: 4px solid red;
}

.tournament-show-status {
  color: white;
  padding: 2px 4px;
  font-weight: bold;
  background-color: blue;

}

.tournament-show-prize {
  font-weight: 700;
  font-size: 1.1875rem;
}

.tournament-image img {
  width: 1080px;
  height: 300px;
}

.start-at {
  font-weight: bold;
}

.footer-margin {
  height: 100px;
}

.edit-profile-form {
  @extend .login-form;
  margin: 0 auto 50px auto;
}

.count-wins {
  color: green;
}

.count-lose {
  color: red;
}

.forum-container {
  padding: 5px 10px;
  background-color: white;

  .thredded--currently-online {
    margin-bottom: 40px;
  }
}

.article-title a {
  text-decoration: none;
}

.article-title a:link { color: black; }
.article-title a:visited { color: black; }
.article-title a:hover { color: black; }
.article-title a:active { color: black; }

.details li {
  list-style: none;
  margin-bottom:10px;
}

.contacts-icon-email {
  height: 30px;
  width: 30px;
}

.contacts-icon-telegram {
  height: 35px;
  width: 35px;
}

.nav-font-family a {
  color: white !important; 
}

.nav-nickname {
  margin-top: 6px;
  color: white !important; 
}

.nav-black {
  background-color: black;
}
