!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gshow
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: 'https://embed.twitch.tv/embed/v1.js'}
    = yield(:javascript) if content_for?(:javascript)

  %body
    = render 'shared/navbar'
    - if forum_path? || messages_path?
      .forum-container
        = yield
    - else
      .container
        = render 'shared/flash_messages'
        = yield
    = render 'shared/footer'
